@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;

  --background: oklch(0.2767 0.0181 220.29);
  --foreground: oklch(0.9848 0 89.88);
  --card: oklch(0.2207 0.0134 220.21);
  --card-foreground: oklch(0.9619 0 89.88);
  --popover: oklch(0.2376 0 89.88);
  --popover-foreground: oklch(0.9389 0 89.88);
  --primary: oklch(0.5285 0.1991 23.55);
  --primary-foreground: oklch(0.9848 0 89.88);
  --secondary: oklch(0.3779 0.0202 220.08);
  --secondary-foreground: oklch(0.9619 0 89.88);
  --muted: oklch(0.3211 0 89.88);
  --muted-foreground: oklch(0.7273 0 89.88);
  --accent: oklch(0.42 0.18 23.55);
  --accent-foreground: oklch(0.9848 0 89.88);
  --destructive: oklch(0.4760 0.1590 25.64);
  --destructive-foreground: oklch(0.9619 0 89.88);
  --border: oklch(0.3705 0 89.88);
  --input: oklch(0.3211 0 89.88);
  --ring: oklch(0.5751 0.2098 19.07);

  --chart-1: oklch(0.489 0.176 18.669);
  --chart-2: oklch(0.684 0.126 166.214);
  --chart-3: oklch(0.790 0.157 87.113);
  --chart-4: oklch(0.685 0.189 320.724);
  --chart-5: oklch(0.640 0.181 3.161);

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}